body{
    text-align: center;
}

.add-tag{
    margin-top: 30px;
}

span{
    font-size: 18px;
    display: inline-block;
}

button{
    font-size: 14px;
    width: 130px;
    height: 25px;
}

#confirm{
    margin-right: 20px;
}

#prompt{
    margin-right: 5px;
}

#input{
    width: 200px;
    font-size: 18px;
    border: 1px solid black;
}

.button-div{
    margin-top: 20px;
}

#status{
    margin-top: 20px;
}